name: CI (integration tests in ./tests)

on:
  workflow_dispatch:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]


jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: Run integration test (devnet must be accessible)
        env:
          CELESTIA_BRIDGE: ${{ secrets.CELESTIA_BRIDGE }}
          CELESTIA_AUTH_TOKEN: ${{ secrets.CELESTIA_AUTH_TOKEN }}
          CELESTIA_NAMESPACE: ${{ secrets.CELESTIA_NAMESPACE }}
        run: |
          make test-integration TEST_REGEX=TestIntegration_PutThenGet_RoundTrip